{% extends "lab_10/layout/base.html" %}

{% block content %}




<div class="row">
    <div class="tit-des">
        <h1 id="title"> {{ movie.title }} </h1>
        <h5 id="des">{{movie.runtime}} | {{ movie.language}} | {{movie.imdbrating}}/10</h1>
    </div>

    <div class="decsription">
        <div class="col-sm-6" id="info">
            <h3>Details</h3>
            <table class="table-bordered">
                <tr>
                    <th id="properties">Plot</th>
                    <th>{{ movie.plot }}</th>
                </tr>
                <tr>
                    <th id="properties">Genre</th>
                    <th>{{  movie.genre }}</th>
                </tr>
                <tr>
                    <th id="properties">Actors</th>
                    <th>{{ movie.actors }}</th>
                </tr>
                <tr>
                    <th id="properties">Directors</th>
                    <th>{{ movie.director }}</th>
                </tr>
                <tr>
                    <th id="properties">Released</th>
                    <th>{{ movie.released }}</th>
                </tr>



            </table>
    </div>
    <div class="col-sm-6" id="cover">
        <img id="cover"src="{{ movie.poster }}" alt="">
    </div>
    </div>
    <br>
    <hr>


    <br>

    <div class="box">
        {% if added %}
        <button class="btn btn-success"> Added to Watch Later </button>
        {% else %}
        <a href="{% url 'lab-10:add_watch_later' id %}" class="btn btn-warning"> Add to Watch Later </a>
        {% endif%}
    </div>

</div>
{% endblock %}
