{% extends "lab_4/layout/base.html" %}
{% block content %}



<center>
<h1>@radityarvin</h1>
<img src="https://scontent.cdninstagram.com/t51.2885-19/11137761_653959444750898_716820034_a.jpg" alt="this is my pict" class="img-circle"width = "50x">
<img src="https://scontent.cdninstagram.com/t51.2885-19/11137761_653959444750898_716820034_a.jpg" alt="this is my pict" class="img-circle"width = "70px">
<img src="https://scontent.cdninstagram.com/t51.2885-19/11137761_653959444750898_716820034_a.jpg" alt="this is my pict" class="img-circle" width = "90px">
<img src="https://scontent.cdninstagram.com/t51.2885-19/11137761_653959444750898_716820034_a.jpg" alt="this is my pict" class="img-circle"width = "70px">
<img src="https://scontent.cdninstagram.com/t51.2885-19/11137761_653959444750898_716820034_a.jpg" alt="this is my pict" class="img-circle"width = "50x">
<img src="z alt="this is my pict" class="img-circle"width = "50x">


<hr/>
<section name="bio">
    <h2>Bio</h2>
    <p>
        <strong><em> {{content}} </strong></em>
    </p>    
</section>
<hr/>
</center>
<section name="about_me">
    <h2>List</h2>
    <ul>
        {% for ii in about_me %}
        <li> {{ ii }} </li>
        {% endfor %}
    </ul>
</section>
<hr/>


<section name="form">
<center>
        <h2>Chat Me!</h2>
        </center>
        <form id="form" method="POST" action="{% url 'lab-4:add_message' %}">
            {% csrf_token %}
            {{ message_form }}
            <br>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </section>

    {% endblock %}
