{% extends "lab_7/layout/base.html" %}

{% block content %}
    <section name="friend-list" id="friend-list">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-8">
                    <h2> friend Fasilkom</h2>
                    <div id="friend-list" class="list-group">

                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block javascript %}
    <script>
        $( document ).ready(function () {
            {# lengkapi pemanggilan ajax berikut untuk mengambil daftar teman yang ada di database #}
            $.ajax({
                method: "GET",
                url: '{% url "lab-7:get-friend-list" %}',
                success: function (data) {
                    daftarteman = $.parseJSON(data);
                    console.log(daftarteman);
                    if(daftarteman.length==0){
                        var html = '<div class="class="alert alert-danger text-center">' +
                            '<strong>Opps!</strong> Tidak ada teman' +'</div>';
                        $("#friend-list").append(html);
                    }
                    else{
                          $.each(daftarteman, function(index, item){
                            var name = item.fields.friend_name;
                            var npm = item.fields.npm;

                            var button = '<span class="pull-right">'+
                                            '<button type="button" class="btn btn-xs btn-danger"'+
                                            'onClick="deleteFriend('+item.pk+')">'+
                                                '&times;'+
                                            '</button>'+
                                         '</span>';
                         

                            html = '<a class="list-group-item clearfix">' +
                                name + " " +"(" + npm + ")" + button +
                                '</a>';
                            $("#friend-list").append(html);



                        });
                    }


                    //tampilkan list teman ke halaman
                    //hint : gunakan fungsi jquery append()
                },
                error: function(error){
                    alert("sudah jadi teman");
                    //tampilkan pesan error
                }
            });
        });

        
        const deleteFriend = function(id) {
           window.open('delete-friend/'+id+'/', '_self');
        }
        const description = function(id) {
            window.open('description/'+id+'/', '_self');
        }

    </script>
{% endblock %}
    